---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="w-full max-w-6xl mx-auto py-12 px-4">
			<section>
				<ul class="flex flex-wrap gap-8 list-none m-0 p-0">
					{
						posts.map((post, index) => (
							<li class={index === 0 ? 'w-full' : 'w-full md:w-[calc(50%-1rem)]'}>
								<a 
									href={`/blog/${post.id}/`}
									class="block no-underline transition-all duration-200 hover:opacity-80"
								>
									{post.data.heroImage && (
										<Image 
											width={720} 
											height={360} 
											src={post.data.heroImage} 
											alt=""
											class="w-full mb-4 rounded-lg"
										/>
									)}
									<h4 class={index === 0 ? 'text-4xl mb-4' : 'text-2xl mb-4'}>
										{post.data.title}
									</h4>
									<p class="text-slate-600 m-0">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
